<p id="notice"><%= notice %></p>

<h1>Listing Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Completion date</th>
      <th>License</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Overall</th>
      <th>Overall comments</th>
      <th>Develop</th>
      <th>Develop comments</th>
      <th>Use</th>
      <th>Use comments</th>
      <th>Feedback</th>
      <th>Feedback comments</th>
      <th>Teaching</th>
      <th>Teaching comments</th>
      <th>Topics</th>
      <th>Advanced</th>
      <th>Advance topics</th>
      <th>Add comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.user_id %></td>
        <td><%= evaluation.completion_date %></td>
        <td><%= evaluation.license %></td>
        <td><%= evaluation.address %></td>
        <td><%= evaluation.city %></td>
        <td><%= evaluation.state %></td>
        <td><%= evaluation.zip %></td>
        <td><%= evaluation.overall %></td>
        <td><%= evaluation.overall_comments %></td>
        <td><%= evaluation.develop %></td>
        <td><%= evaluation.develop_comments %></td>
        <td><%= evaluation.use %></td>
        <td><%= evaluation.use_comments %></td>
        <td><%= evaluation.feedback %></td>
        <td><%= evaluation.feedback_comments %></td>
        <td><%= evaluation.teaching %></td>
        <td><%= evaluation.teaching_comments %></td>
        <td><%= evaluation.topics %></td>
        <td><%= evaluation.advanced %></td>
        <td><%= evaluation.advance_topics %></td>
        <td><%= evaluation.add_comments %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
