<ol class="breadcrumb">
  <li><%=link_to "Course Home", course_home_path%></li>
  <li><%=link_to "Planning Module Home", planning_pages_planning_home_path%></li>
</ol>
  	<nav>
  		<ul class="pagination">
    		<li>
    			<%= link_to planning_pages_philosophy_path, :class => 'button white' do %>
   					<span aria-hidden="true">&laquo;</span>
				<% end %>
			</li>
    		<li><a href="#">1</a></li>
    		<li><a href="#">2</a></li>
    		<li class="active"><a href="#">3</a></li>
    		<li><a href="#">4</a></li>
    		<li><a href="#">5</a></li>
    		<li><a href="#">6</a></li>
    		<li><a href="#">7</a></li>
    		<li><a href="#">8</a></li>
    		<li>

				<%= link_to planning_pages_site_development_path, :class => 'button white' do %>
   					<span aria-hidden="true">&raquo;</span>
				<% end %>	
    		</li>
  		</ul>
	</nav>


<h3>Important Guidelines</h3>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">APTA CCCE and CI Guidelines</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Link to the American Physical Therapy Association Clinical Educators Website:</button></li>
  	<li class="list-group-item"> <button type="button" class="btn btn-secondary"><%=link_to "Link", "http://www.apta.org/Educators/Clinical/" %></button></li>
  
   </ul>
  </div>
</div>



<nav>
  <ul class="pager">  	
	<li>
		<button type="button" class="btn btn-default" aria-label="Left Align">
  			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  			<%=link_to "Previous", planning_pages_philosophy_path%>
		</button>
	</li>
    
	<li>
		<button type="button" class="btn btn-default" aria-label="Left Align">
  			<%=link_to "Next", planning_pages_site_development_path %>
  			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		</button>
	</li>

	<br>

   	<li><%=link_to "Course Home", course_home_path%></li>
   	<li><%=link_to "Planning Module Home", planning_pages_planning_home_path%></li>
   
  </ul>
</nav>
