	
	
<h3>Module 1: PLANNING A CLINICAL EDUCATION PROGRAM</h3>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Purpose</h3>
  </div>
  <div class="panel-body">
   To provide essential planning and preparation requirements for a successful clinical education program.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Clinical Education</h3>
  </div>
  <div class="panel-body">
  Clinical education immerses the student into physical therapy practice. The academic institution would not be able to produce physical therapists without the clinical education component.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Planning</h3>
  </div>
  <div class="panel-body">
  A clinical education program requires effective planning to be successful. The planning requires coordination from all parties involved: the academic institution, the clinical site, the clinical and academic faculty, and the students.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Planning Sections</h3>
  </div>
  <div class="panel-body">
 <ul>
<li>Section 1: <%= link_to "Texas Consortium", planning_pages_tx_consortium_path%></li>
<li>Section 2: <%= link_to "Philosophy", planning_pages_philosophy_path%></li>
<li>Section 3: <%= link_to "APTA", planning_pages_apta_link_path%></li>
<li>Section 4: <%= link_to "Site Development", planning_pages_site_development_path%></li>
<li>Section 5: <%= link_to "Scheduling", planning_pages_scheduling_path%></li>
<li>Section 6: <%= link_to "Clinical Education", planning_pages_clinical_education_path%></li>
<li>Section 7: <%= link_to "Learning Experiences", planning_pages_learning_experiences_path%></li>
<li>Section 8: <%= link_to "Legal Issues", planning_pages_legal_issues_path%></li>
 </ul>
  </div>
</div>




