<div class="page_navigation">
<ol class="breadcrumb">
  <li><%=link_to "Course Home", course_home_path%></li>
  <li><%=link_to "Planning Module Home", planning_pages_planning_home_path%></li>
  <li>Texas Consortium</li>
</ol>
  	<nav>
  		<ul class="pagination">
    		<li>
    			<%= link_to planning_pages_planning_home_path, :class => 'button white' do %>
   					<span aria-hidden="true">&laquo;</span>
				<% end %>
			</li>
    		<li class="active"><a href="#">1</a></li>
    		<li><a href="#">2</a></li>
    		<li><a href="#">3</a></li>
    		<li><a href="#">4</a></li>
    		<li><a href="#">5</a></li>
    		<li><a href="#">6</a></li>
    		<li><a href="#">7</a></li>
    		<li><a href="#">8</a></li>
    		<li>

				<%= link_to planning_pages_philosophy_path, :class => 'button white' do %>
   					<span aria-hidden="true">&raquo;</span>
				<% end %>	
    		</li>
  		</ul>
	</nav>
</div>
<h3>Texas Consortium</h3>
 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Physical Therapy Programs in Texas</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">In Texas, most of the physical therapist programs belong to the Texas Consortium for Physical Therapy Clinical Education, Inc.</li>
  	 <li class="list-group-item">The Consortium was formed in 1977 following a grant award to develop a clinical education evaluation tool. </li>
  	 
  	 <li class="list-group-item">This was the birth of the original The Blue MACS (Mastery and Assessment of Clinical Skills). </li>
   </ul>
  </div>
</div>



<nav>
  <ul class="pager">  	
	
   	<li>
		<%= link_to  planning_pages_philosophy_path do %>
			Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<% end %>
	</li>
   
  </ul>
</nav>