<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @planning_case1.user_id %>
</p>

<p>
  <strong>Experiences:</strong>
  <%= @planning_case1.experiences %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @planning_case1.orientation %>
</p>

<p>
  <strong>Appropriate:</strong>
  <%= @planning_case1.appropriate %>
</p>

<%= link_to 'Edit', edit_planning_case1_path(@planning_case1) %> |
<%= link_to 'Back', planning_case1s_path %>
