<%= form_for(@teaching_activity) do |f| %>
  <% if @teaching_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teaching_activity.errors.count, "error") %> prohibited this teaching_activity from being saved:</h2>

      <ul>
      <% @teaching_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">    
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%='hidden field --> user_id: '%>
    <%=current_user.id%>
</div>
  <div class="field">
    <%= f.label :activity1 %><br>
    <%= f.text_area :activity1 %>
  </div>
  <div class="field">
    <%= f.label :activity2 %><br>
    <%= f.text_area :activity2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
