<%= form_for(@teaching_activity) do |f| %>
  <% if @teaching_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teaching_activity.errors.count, "error") %> prohibited this teaching_activity from being saved:</h2>

      <ul>
      <% @teaching_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 
 <div class="field">    
    <%= f.hidden_field :user_id, value: current_user.id %>
    <!--<%='hidden field  user_id: '%>-->
    <!--<%=current_user.id%>-->
</div>
 
 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Activity 1 - Barriers to Learning</h3>
  </div>
  <div class="panel-body">
  Students personal circumstances may be obstacles to their learning. An example of a learning barrier is the student whose focus is on the family back home rather than the learning experiences available in the facility. This student may not attend to the learning experiences available, but rather seems forgetful, uninterested or even bored. Without good communication, the student may be perceived by the CI as a poor student.
  </div>
</div> 


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">List additional barriers that may hamper student learning:</h3>
  </div>
  <div class="panel-body">
    <div class="field">
    <%= f.label :activity1 %><br>
    <%= f.text_area :activity1, :cols => "60", :rows => "6" %>
  </div>
  </div>
</div> 



<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Activity 2 - Barriers to Learning Continued</h3>
  </div>
  <div class="panel-body">
    <div class="field">
Here is a list of possible barriers. How does it compare to your list?
<ul>
<li>Separation from spouse or family</li>

<li>Unable to “team play” (may feel like the outsider)</li>

<li>Decreased communication skills (student or CI)</li>

<li>Learning does not match personal goals</li>

<li>Unable to learn at an individual's own rate and independently</li>

<li>Teaching methods do not match the student's preferred methods</li>
</ul>
  </div>
  </div>
</div> 


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">As the CI for a student who seems to be distracted and not participating in the learning experiences, select one of the barriers and describe how you would approach the situation.</h3>
  </div>
  <div class="panel-body">
    <div class="field">
  		<div class="field">
    		<%= f.label :activity2 %><br>
    		<%= f.text_area :activity2, :cols => "60", :rows => "6" %>
  		</div>
  	</div>
  </div>
</div> 









  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<% end %>
