<h3>Clinical Instructor Certification Course - Part I</h3>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <!--<a href="#" class="nav-link active">Active</a>-->
    <%=link_to "Planning a CE Program", planning_pages_planning_home_path%>
  </li>
  <li class="nav-item">
    <!--<a href="#" class="nav-link">Link</a>-->
    <%=link_to "Student Evaluation", student_evaluation_home_path%>
  </li>
  <li class="nav-item">
    <!--<a href="#" class="nav-link">Another link</a>-->
     <%=link_to "Communication", communication_pages_home_path%>
  </li>
  <!--<li class="nav-item disabled">-->
    <!--<a href="#" class="nav-link">Disabled</a>-->
    <li class="nav-item">
    <%=link_to "Teaching and Learning", teaching_pages_home_path%>
  </li>
</ul>
 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Welcome to the Texas Consortium's Basic Clinical Instructor Certification Course. Prior to starting the learning modules, read the Case Scenarios. You may want to print the scenarios to reference as you work through the learning modules.</li>
   </ul>
  </div>
</div>

 <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Instructions</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Please read the following instructions carefully for successful completion of this course. After all steps are completed you will receive an automated certificate for 0.4 CEU. You will need to print & retain a copy of the certificate for your records.</li>
  	<li class="list-group-item">1. Review all course material, consisting of 4 modules with many subsections each (see "Course Modules" link in the nav bar above). </li>
  	
  	 <li class="list-group-item">2. Submit answers to all exercises and activities at the end of each module.</li>
  	  	
  	<li class="list-group-item">3. Complete the Course Evaluation (see "Course Evaluation" link in nav bar above); this must be completed for the Consortium to verify your course certificate.</li>
  	
  	<li class="list-group-item">4. Take the Course Exam (see "Course Exam" link in nav bar above). You must answer at least 75% of the multiple choice questions correctly to receive a CEU certificate. </li>
  	
  	<li class="list-group-item">5. It is imperative that you PRINT your certificate or save your certificate for future printing.</li>

   </ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">PDF Version</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">You may download and print the course content in its entirety in Adobe PDF format by clicking here (http://www.texasconsortium.org/basic_ci/ci_course_complete.pdf) if you do not wish to view it all online.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Order of Modules</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">We recommend that you complete the course modules in the following order: Planning a Clinical Education Program, Student Evaluation, Communication, Teaching & Learning. After completing the modules, you will take an online final exam for course credit.</li>
  	<li class="list-group-item">
  	
  	
  		<div class="panel panel-info">
  			<div class="panel-heading">
    			<h4 class="panel-title">Course Modules</h3>
  			</div>
  			<div class="panel-body">
   				<ul class="list-group">
  					<li class="list-group-item">Module 1: Planning a Clinical Education Program</li>
  					<li class="list-group-item">Module 2: Student Evaluation</li>
  					<li class="list-group-item">Module 3: Communication </li>
  					<li class="list-group-item">Module 4: Teaching & Learning</li>
   				</ul>
 		 	</div>
		</div>
  	
  	
  	</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Online Course Authors</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Carolyn Utsey, PT, PhD</li>
  	<li class="list-group-item">Loretta Dillon, PT, DPT</li>
  	<li class="list-group-item">Peggy B. Gleeson, PT, PhD</li>
   </ul>
  </div>
</div>

<nav>
  <ul class="pager">  	
	
    
	<li>
		<button type="button" class="btn btn-default" aria-label="Left Align">
  			<%=link_to "Module 1: Planning", planning_pages_planning_home_path%>
  			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		</button>
	</li>
   
  </ul>
</nav>

