
<ol class="breadcrumb">
	<li><%=link_to "consortium home", home_tabs_home_path%></li>
  	<li><%=link_to "CI course home", course_home_path%></li>
  	<li><%=link_to "module 3: communication", communication_pages_home_path%></li>
	<li><%=controller.action_name%></li>
</ol>


<div class="page_navigation">
  	<nav>
  		<section>
  		<h5>Communication Module Sections:</h5>
  		<ul class="pagination pagination-sm">
    		<li>
    			<%= link_to @previous_page, :class => 'button white', :target => '_top' do %>
   					<span aria-hidden="true">&laquo;</span>
				<% end %>
			</li>
			<li class=<%=@active_0%>><%=link_to "0", communication_pages_home_path%></li>
    		<li class=<%=@active_1%>><%=link_to "1", communication_pages_communication_path%></li>
    		<li class=<%=@active_2%>><%=link_to "2", communication_pages_three_path%></li>
    		<li class=<%=@active_3%>><%=link_to "3", communication_pages_verbal_path%></li>
    		<li class=<%=@active_4%>><%=link_to "4", communication_pages_nonverbal_path%></li>
    		<li class=<%=@active_5%>><%=link_to "5", communication_pages_feedback_path%></li>
    		<li>

				<%= link_to @next_page, :class => 'button white', :target => '_top' do %>
   					<span aria-hidden="true">&raquo;</span>
				<% end %>	
    		</li>
  		</ul>
  		</section>
	</nav>
</div>	