

<!--<nav class="navbar navbar-inverse" role="navigation">-->
<!--<div class="container-fluid">-->
		 
		 
<nav class="navbar navbar-inverse navbar-fixed-top">
		 <div class="container">  		 
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			  </button>   
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			 
			  <ul class="nav navbar-nav">
			  	
			    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"}>Home<span class="caret"></span></a>
          			<ul class="dropdown-menu">
            			<li><%= link_to "Planning Module Home", planning_pages_planning_home_path %></li>
						<li><%= link_to "Course Home", course_home_path %></li>
						<li><%= link_to "Texas Consortium Home", pages_home_path %></li>
						
          			</ul>
        		</li> 
			    
			    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">PlanningSections<span class="caret"></span></a>
          			<ul class="dropdown-menu">
            			
						<li><%= link_to "Texas Consortium", planning_pages_tx_consortium_path%></li>
						<li><%= link_to "Philosophy", planning_pages_philosophy_path%></li>
						<li><%= link_to "APTA", planning_pages_apta_link_path%></li>
						<li><%= link_to "Site Development", planning_pages_site_development_path%></li>
						<li><%= link_to "Scheduling", planning_pages_scheduling_path%></li>
						<li><%= link_to "Clinical Education", planning_pages_clinical_education_path%></li>
						<li><%= link_to "Learning Experiences", planning_pages_learning_experiences_path%></li>
						<li><%= link_to "Legal Issues", planning_pages_legal_issues_path%></li>
          			</ul>
        		</li> 
				<li><%= link_to "CaseStudy1", new_planning_case1_path, {:style=>'color:#d3d3d3;'} %></li>
				<li><%= link_to "To Receive Credit", new_planning_credit_path, {:style=>'color:#d3d3d3;'} %></li>
				<li><%= link_to "Sign Out", destroy_user_session_path, {:style=>'color:#d3d3d3;', method:'delete'} %></li>
			  </ul>
			</div>
		  </div>
</nav>   