

<!--<nav class="navbar navbar-inverse" role="navigation">-->
<!--<div class="container-fluid">-->
		 
		 
<nav class="navbar navbar-inverse navbar-static-top">
		 <div class="container">  		 
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			  </button>   
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			 
			  <ul class="nav navbar-nav">
				
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Home<span class="caret"></span></a>
          			<ul class="dropdown-menu">
            			
						<li><%= link_to "Course Home", course_home_path %></li>
						<li><%= link_to "Texas Consortium Home", pages_home_path %></li>
						
          			</ul>
        		</li> 
				
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Course Modules<span class="caret"></span></a>
          			<ul class="dropdown-menu">
            			
						<li><%= link_to "1. Planning Module", planning_pages_planning_home_path %></li>
						<li><%= link_to "2. Student Evaluation Module", student_evaluation_home_path %></li>
						<li><%= link_to "3. Communication Module", communication_pages_home_path %></li>
						<li><%= link_to "4. Teaching and Learning Module", teaching_pages_home_path%></li>
						
          			</ul>
        		</li> 
				
				
				
				
				<li><%= link_to "Course Exam", quiz_display_path, {:style=>'color:#d3d3d3;'} %></li>
				<li><%= link_to "Course Evaluation", new_evaluation_path, {:style=>'color:#d3d3d3;'} %></li>
			
        	  
			  </ul>
			</div>
		  </div>
</nav>   