
<ol class="breadcrumb">
	<li><%=link_to "consortium home", home_tabs_home_path%></li>
  	<li><%=link_to "CI course home", course_home_path%></li>
  	<li><%=link_to "module 4: teaching and learning", teaching_pages_home_path%></li>
	<li><%=controller.action_name%></li>
</ol>


<div class="page_navigation">
  	<nav>
  
  		<h5>Teaching and Learning Module Sections:</h5>
  		<ul class="pagination pagination-sm">
    		<li>
    			<%= link_to @previous_page, :class => 'button white', :target => '_top' do %>
   					<span aria-hidden="true">&laquo;</span>
				<% end %>
			</li>
			<li class=<%=@active_0%>><%=link_to "0", teaching_pages_home_path%></li>
    		<li class=<%=@active_1%>><%=link_to "1", teaching_pages_learning_path%></li>
    		<li class=<%=@active_2%>><%=link_to "2", teaching_pages_adult_path%></li>
    		<li class=<%=@active_3%>><%=link_to "3", teaching_pages_domains_path%></li>
    		<li class=<%=@active_4%>><%=link_to "4", teaching_pages_barriers_path%></li>
    		<li class=<%=@active_5%>><%=link_to "5", teaching_pages_guiding_path%></li>
    		<li class=<%=@active_6%>><%=link_to "6", teaching_pages_theory_path%></li>
    		<li class=<%=@active_7%>><%=link_to "7", teaching_pages_self_path%></li>
    		<li>

				<%= link_to @next_page, :class => 'button white', :target => '_top' do %>
   					<span aria-hidden="true">&raquo;</span>
				<% end %>	
    		</li>
  		</ul>
  		
	</nav>
</div>	