

<%= form_for(@planning_credit) do |f| %>
  <% if @planning_credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planning_credit.errors.count, "error") %> prohibited this planning_credit from being saved:</h2>

      <ul>
      <% @planning_credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">    
    <%= f.hidden_field :user_id, value: current_user.id %>
    <!--<%='hidden field user_id: '%>-->
    <!--<%=current_user.id%>-->
</div>

<h4>1. Site type: <small>(check all that apply)</small></h4>
<table class="table-responsive">
  <tr>  
  	<td>
  		<div class="field">
  			<%= f.check_box :acute %> 
  			<%= f.label :acute%> &nbsp;  &nbsp;	 		
  		</div>
  			
  	</td>
  	<td>
  		<div class="field">
  			<%= f.check_box :IP %>
    		<%= f.label :IP %>  &nbsp;  &nbsp;	  		
  		</div>
  	</td>
  	<td>	
  		<div class="field">
  			<%= f.check_box :private %>
    		<%= f.label :private %> &nbsp;  &nbsp;	
  		</div> 		
  	</td>
  	  	<td>	
  		 <div class="field">
  		 <%= f.check_box :corporate %>
    		<%= f.label :corporate %>&nbsp;  &nbsp;
    		
  		</div>		
  	</td>
  	
  	  	<td>	
  			<div class="field">
  			<%= f.check_box :nonprofit %>
    			<%= f.label :nonprofit %>&nbsp;  &nbsp;
    			
  			</div>		
  		</td>
  </tr>
  <tr>
<td>
  <div class="field">
   
    <%= f.check_box :pediatric %>
     <%= f.label :pediatric %>&nbsp;  &nbsp;
  </div>
</td>
<td>
  <div class="field">
    
    <%= f.check_box :school %>
    <%= f.label :school %>&nbsp;  &nbsp;
  </div>
</td>
<td>
  <div class="field">
   
    <%= f.check_box :SNU %>
     <%= f.label :SNU %>&nbsp;  &nbsp;
  </div>
</td>
<td>
  <div class="field">
   
    <%= f.check_box :SNF %>
     <%= f.label :SNF %>&nbsp;  &nbsp;
  </div>
</td>
<td>
  <div class="field">
   
    <%= f.check_box :LTC %>
     <%= f.label :LTC %>&nbsp;  &nbsp;
  </div>
</td>
</tr>
</table>
 
<table class="table-responsive">
	<tr>
	 <div class="field">
		<td valign="top">
   			 <%= f.label :other %>:&nbsp;<br>
  		</td>
  		<td>
  		 	<%= f.text_area :other, :cols => "25", :rows => "2" %>
  		</td>
  	</div>
  	</tr>
</table>
  
<br/>
<h4>2. Compile a list of activities that you would include in a CI/Student orientation checklist. You may not need to complete each row depending on the needs of your setting.</h4>
<table class="table-responsive">
  	<tr>
  		<div class="field">
  			<td valign="top">
    			<%= f.label :list %>:&nbsp;<br>
    		</td>
    		<td valign="top">
				<%= f.text_area :list, :cols => "50", :rows => "10"%>
			</td>
  		</div>
  	</tr>
</table>

<br/>
  <div class="actions">
    <%= f.submit "submit"%>
  </div>
<% end %>

