<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @planning_credit.user_id %>
</p>

<p>
  <strong>Acute:</strong>
  <%= @planning_credit.acute %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @planning_credit.IP %>
</p>

<p>
  <strong>Private:</strong>
  <%= @planning_credit.private %>
</p>

<p>
  <strong>Corporate:</strong>
  <%= @planning_credit.corporate %>
</p>

<p>
  <strong>Nonprofit:</strong>
  <%= @planning_credit.nonprofit %>
</p>

<p>
  <strong>Pediatric:</strong>
  <%= @planning_credit.pediatric %>
</p>

<p>
  <strong>School:</strong>
  <%= @planning_credit.school %>
</p>

<p>
  <strong>Snu:</strong>
  <%= @planning_credit.SNU %>
</p>

<p>
  <strong>Snf:</strong>
  <%= @planning_credit.SNF %>
</p>

<p>
  <strong>Ltc:</strong>
  <%= @planning_credit.LTC %>
</p>

<p>
  <strong>Other:</strong>
  <%= @planning_credit.other %>
</p>

<p>
  <strong>List:</strong>
  <%= @planning_credit.list %>
</p>

<%= link_to 'Edit', edit_planning_credit_path(@planning_credit) %> |
<%= link_to 'Back', planning_credits_path %>
