<div class="page-header">
  <h2>Announcements</h2>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Announcement #1 Title</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">Description of Announcement #1.</li>
  		<li class="list-group-item"><%=link_to "Announcement #1 Link", 'http://www.apta.org', class: 'btn btn-info btn-xs'%></li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Announcement #2 Title</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">Description of Announcement #2</li> 
  		<li class="list-group-item"><%=link_to "Announcement #2 Link", 'http://www.apta.org', class: 'btn btn-info btn-xs'%></li>
  	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Announcement #3 Title</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">Description of Announcement #3</li>
		<li class="list-group-item"><%=link_to "Announcement #3 Link", 'http://www.apta.org', class: 'btn btn-info btn-xs'%></li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Announcement #4 Title</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">Description of Announcement #4</li>
		<li class="list-group-item"><%=link_to "Announcement #4 Link", 'http://www.apta.org', class: 'btn btn-info btn-xs'%></li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Announcement #5 Title</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">Description of Announcement #5</li>
		<li class="list-group-item"><%=link_to "Announcement #5 Link", 'http://www.apta.org', class: 'btn btn-info btn-xs'%></li>
	</ul>
  </div>
</div>