<div class="page-header">
  <h2>Consortium Members</h2>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "Texas Woman's University – Dallas", "https://www.twu.edu/physical-therapy/default.asp"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
			Dale Anderle, PT, DPT<br>
			Director of Clinical Education<br>
			danderle@twu.edu<br>
			Office: (214) 689-7720
  		</li>
  		<li class="list-group-item">
			Linda Csiza, PT, DSc, NCS<br>
			Assistant Director of Clinical Education<br>
			lcsiza@twu.edu<br>
			Office: (214) 689-7719
  		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "Texas Woman's University – Houston", "https://www.twu.edu/physical-therapy/default.asp"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
			Peggy Gleeson, PT, PhD<br>
			Director of Clinical Education<br>
			pgleeson@twu.edu<br>
			Office: (713) 794-2079
  		</li>
  		<li class="list-group-item">
			Jennifer Bogardus, PT, MPT, PhD (c)<br> 
			Assistant Director of Clinical Education<br>
			jbogardus@twu.edu<br>
			Office: (713)794-2150
  		</li>
  		<li class="list-group-item">
			Victoria Millet Zegarrundo, PT, DPT, NCS<br>
			Assistant Director of Clinical Education<br>
			vmillet@twu.edu<br>
			Office: (713)794-2084
  		</li>
  		<li class="list-group-item">
			Lauren Szot, PT, DPT, NCS<br>
			Assistant Director of Clinical Education<br>
			cszot@twu.edu<br>
			Office: (713) 794-2080
  		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "UT Health Science Center at San Antonio", "http://www.uthscsa.edu/academics/health-professions/programs/doctor-physical-therapy"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
			Mike Geelhoed, PT, DPT, OCS, MTC<br>
			Director of Clinical Education<br>
			geelhoed@uthscsa.edu<br>
			Office: (210) 567-8756		
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "Texas State University", "http://www.health.txstate.edu/pt/people/faculty.html"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
			Steve Spivey, PT, DPT<br>
			Director of Clinical Education<br>
			ss66@txstate.edu<br>
			Office: (512) 245-3949 		
		</li>
  		<li class="list-group-item">
			Shannon Williams, PT, DPT, M.Ed., FAAOMPT<br>
			Assistant Director of Clinical Education<br>
			sw32@txstate.edu<br>
			Office: (512) 245-8427		
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "Texas Tech University Health Sciences Center", "http://www.ttuhsc.edu/health-professions/doctor-of-physical-therapy/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
			Misty Miller, PT, DPT<br>
			Director of Clinical Education - Amarillo<br>
			misty.miller@ttuhsc.edu<br>
			Office: (806) 414-9688		
		</li>
  		<li class="list-group-item">
			Douglas Dendy, PT, MPT, ScD<br>
			Assistant Director of Clinical Education - Lubbock<br>
			doug.dendy@ttuhsc.edu<br>
			Office: (806) 743-3326		
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "Hardin-Simons University", "https://www.hsutx.edu/academics/holland/graduate/physicaltherapy/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
			Mary Lou Garrett, PT, DPT, PCS, M.Ed.<br>
			Director of Clinical Education<br>
			mgarrett@hsutx.edu<br>
			PT Office: (325) 670-5860 		
		</li>
  		<li class="list-group-item">
			Jill Jumper, PT, DPT<br>
			Director of Clinical Education<br>
			jill.jumper@hsutx.edu<br>
			Office: (325) 670-5830	
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "University of the Incarnate Word", "http://www.uiw.edu/physicaltherapy/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
			Chad Jackson, PT, DPT, OCS<br>
			Director of Professional Practice Education<br>
			chad.jackson@uiwtx.edu<br>
			Office: (210) 283-6478		
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "University of St. Augustine - Texas", "https://www.usa.edu/academics/college-of-rehabilitative-sciences/doctor-physical-therapy/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Kathleen Manella, PT, PhD<br>
Academic Coordinator of Clinical Education<br>
kmanella@usa.edu<br>
Office: (737) 202-3326	
		</li>
  		<li class="list-group-item">
Martha Sneary, PT, DPT, MS<br>
Academic Coordinator of Clinical Education<br>
msneary@usa.edu<br>
Office: (737) 202-3333
		</li>
		<li class="list-group-item">
Joseph Leech, PT, DPT, OCS, MTC, FAAOMPT<br>
Academic Coordinator of Clinical Education<br>
jleech@usa.edu<br>
Office: (737) 202-3318 		
		</li>
  		<li class="list-group-item">
Derrick Campbell, PT, DPT, cert MDT, OCS<br>
Academic Coordinator of Clinical Education<br>
dcampbell@usa.edu<br>
Office: (737) 202-3309	
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "Angelo State University", "http://www.angelo.edu/dept/physical_therapy/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Teresa Huckaby, PT, DPT<br>
Director of Clinical Education<br>
teresa.huckaby@angelo.edu<br>
Office: (325)942-2394
	
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "UT Southwestern School of Health Professions", "http://www.utsouthwestern.edu/education/school-of-health-professions/programs/physical-therapy/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Julie DeVahl, PT, DPT, OCS<br>
Director of Clinical Education<br>
julie.devahl@utsouthwestern.edu<br>
Office: (214) 648-1562		
		</li>
  		<li class="list-group-item">
Tara Dickson, PT, DPT, OCS, CSCS<br>
Assistant Director of Clinical Education<br>
tara.dickson@utsouthwestern.edu<br>
Office: (214) 648-1534
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "UTMB Health", "https://shp.utmb.edu/PhysicalTherapy/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Rebecca Galloway, PT, PhD, GCS, CEEAA<br>
Director of Clinical Education – Bridge Program<br>
regallow@utmb.edu<br>
Office: (409) 747-1646		
		</li>
  		<li class="list-group-item">
Laura Farroni, PT, DPT, PCS<br>
Director of Clinical Education – Entry Level Program<br>
ljwarrin@utmb.edu<br>
PT Office: (409) 772-3068
		</li>
   	</ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "UTEP College of Health Sciences", "http://www.utep.edu/chs/pt/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Rhonda Manning, PT, DPT, PCS<br>
Director of Clinical Education<br>
rajeske@utep.edu<br>
Office: (915) 747-7610	
		</li>
  		<li class="list-group-item">
Loretta Dillon, PT, DPT, MS<br>
Assistant Director of Clinical Education<br>
ldillon@utep.edu<br>
Office: (915) 747-8215
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "UNT Health Science Center", "https://www.unthsc.edu/school-of-health-professions/physical-therapy/?utm_campaign=topnav"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Brandy Schwarz, PT, DPT, EdD, OT, MBA<br>
Director of Clinical Education<br>
brandy.schwarz@unthsc.edu<br>
Office: (817) 735-2977	
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "University of Mary Hardin-Baylor", "http://graduate.umhb.edu/dpt/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Jenise Engelke, PT, DPT<br>
Director of Clinical Education<br>
jengelke@umhb.edu<br>
Office: (254) 295-4927
		</li>
   	</ul>
  </div>
</div>

<div class="page-header">
  <h2>Clinician Members</h2>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "Memorial Hermann Health System", "http://www.memorialhermann.org/rehabilitation/"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Nova Sbrusch, PT, NCS, CWS, CBIST<br>
Center Coordinator of Clinical Education (CCCE)<br>
nova.sbrusch@memorialhermann.org<br>
Office: (281) 579-5735<br>
(Term ends: 2019)
		</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<%=link_to "Texas Health Harris Methodist Hospital HEB 251", "https://www.texashealth.org/Pages/Home.aspx"%>
    </h3>
  </div>
  <div class="panel-body">
   	<ul class="list-group">
  		<li class="list-group-item">
Amy Walker, PT, DPT, OCS<br>
Center Coordinator of Clinical Education (CCCE)<br>
amywalker@texashealth.org<br>
Office: (817) 848-5800<br>
(Term ends: 2018)
		</li>
   	</ul>
  </div>
</div>




