<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover',
        html: 'true'
    });
});
</script>
<style type="text/css">
	.bs-example{
    	margin: 150px 50px;
    }
</style>



<div class="page-header">
  <h2>Consortium Members</h2>
</div>
 
 <br>
  <%= link_to "http://www.hsutx.edu/academics/holland/graduate/physicaltherapy/", class: 'btn btn-default', :style=>'width: 650px;'  do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>Hardin Simmons University</h4>Mary Lou Garrett, PT, DPT, PCS, DCE
  <% end %>
 <br>
 <br>
  <%= link_to "http://www.health.txstate.edu/pt/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>Texas State University</h4>Steve Spivey, PT, DPT, DCE<br/>Shannon Williams, PT, DPT, Asst DCE
  <% end %>
 <br> 
 <br>
  <%= link_to "https://www.ttuhsc.edu/shp/dpt/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>Texas Tech University Health Sciences Center</h4>Misty Miller, PT, DPT, DCE  Tamra Bullard PT, DPT, Assistant DCE<br/>Nathan Burgess PT, DPT, NSC, Assistant DCE
  <% end %>
 <br>
 
 <br>
  <%= link_to "http://www.twu.edu/physical-therapy/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>Texas Woman's University – Dallas</h4>Dale Anderle, PT, DPT, DCE<br/>Kathleen Luedtke-Hoffmann, PT, MBA, PhD, Asst DCE<br/>Dr. Linda Csiza, Asst DCE
  <% end %>
 <br>
 
 <br>
  <%= link_to "http://www.twu.edu/physical-therapy/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>Texas Woman's University – Houston</h4>Peggy Gleeson, PT, PhD, DCE<br/>Anne Turner O'Donnell, PT, PhD, Asst DCE<br/>Victoria Millet Zegarrundo, PT, DPT, Asst DCE<br/>Lauren Szot, PT, DPT, NCS, Asst DCE
  <% end %>
 <br>
 
 <br>
  <%= link_to "https://www.unthsc.edu/school-of-health-professions/physical-therapy/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>The University of North Texas Health Science Center</h4>Brandy Brewster Schwarz, PT, DPT, OT, MBA, DCE
  <% end %>
 <br>
 
 <br>
  <%= link_to "http://chs.utep.edu/pt/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>The University of Texas at El Paso</h4>Loretta Dillon, PT, DPT, MS, DCE
  <% end %>
 <br>

 <br>
  <%= link_to "http://www.uthscsa.edu/academics/health-professions/programs/doctor-physical-therapy", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>University of Texas Health Science Center at San Antonio</h4>Mike Geelhoed, PT, DPT, OCS, MTC
  <% end %>
 <br> 

 <br>
  <%= link_to "http://shp.utmb.edu/PhysicalTherapy/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>University of Texas Medical Branch</h4>Rebecca Galloway, PT, PhD, GCS, DCE<br/>Laurie Farroni, PT, DPT, Asst DCE
  <% end %>
 <br>
 
 <br>
  <%= link_to "http://www.utsouthwestern.edu/education/school-of-health-professions/programs/doctorate-programs/index.html", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>University of Texas Southwestern Medical Center</h4>Julie DeVahl, PT, MS, OCS, DCE<br/>Tara Dickson, PT, DPT, CSCS
  <% end %>
 <br>
 
 <br>
  <%= link_to "http://www.uiw.edu/physicaltherapy/index.html", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>University of the Incarnate Word</h4>Chad Jackson PT, DPT, OCS
  <% end %>
 <br>
 
 <br>
  <%= link_to "http://www.usa.edu/Texas.aspx", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>University of St. Augustine-Texas</h4>Dr. Kathleen Manella, DCE<br/>Dr. Martha Sneary, DCE
  <% end %>
 <br>
 
  <br>
  <%= link_to "http://www.angelo.edu/dept/physical_therapy/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>Angelo State University</h4>Jimmy Villers, PT, DPT, FAAOMPT
  <% end %>
 <br>
 
   <br>
  <%= link_to "http://graduate.umhb.edu/dpt/", class: 'btn btn-default', :style=>'width: 650px;' do %>
    <span class="glyphicon glyphicon-asterisk"></span><h4>University of Mary Hardin-Baylor</h4>Jenise Engelke, PT, DPT, DCE
  <% end %>
 <br>
 