<h3>Module 2: Evaluating Student Performance Using PT MACS</h3>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Purpose</h3>
  </div>
  <div class="panel-body">
To provide a working knowledge of the use of the student performance evaluation tool, the PT MACS in order to allow for documenting student clinical performance.
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Module 2 Sections</h3>
  </div>
  <div class="panel-body">
 <ul>
<li>Section 1: <%= link_to "Evaluating Clinical Performance", student_evaluation_performance_path%></li>
<li>Section 2: <%= link_to "Physical Therapist Manual for the Assessment of Clinical Skills (PT MACS)", student_evaluation_tool_path%></li>
<li>Section 3: <%= link_to "Suggested Clinical Experience Structure", student_evaluation_structure_path%></li>
<li>Section 4: <%= link_to "PT MACS Contents", student_evaluation_ptmacs_path%></li>
<li>Section 5: <%= link_to "Planning Learning Experiences Using the PT MACS", student_evaluation_learning_path%></li>
<li>Section 6: <%= link_to "Use of the Evaluation Tool", student_evaluation_use_path%></li>
 </ul>
  </div>
</div>

