<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @communication_activity.user_id %>
</p>

<p>
  <strong>Mono:</strong>
  <%= @communication_activity.mono %>
</p>

<p>
  <strong>Slow:</strong>
  <%= @communication_activity.slow %>
</p>

<p>
  <strong>High voice:</strong>
  <%= @communication_activity.high_voice %>
</p>

<p>
  <strong>Ascending:</strong>
  <%= @communication_activity.ascending %>
</p>

<p>
  <strong>Terse:</strong>
  <%= @communication_activity.terse %>
</p>

<p>
  <strong>Abrupt speed:</strong>
  <%= @communication_activity.abrupt_speed %>
</p>

<p>
  <strong>High pitch:</strong>
  <%= @communication_activity.high_pitch %>
</p>

<p>
  <strong>Aloof:</strong>
  <%= @communication_activity.aloof %>
</p>

<p>
  <strong>Abrupt:</strong>
  <%= @communication_activity.abrupt %>
</p>

<p>
  <strong>Shy:</strong>
  <%= @communication_activity.shy %>
</p>

<p>
  <strong>Aggressive:</strong>
  <%= @communication_activity.aggressive %>
</p>

<p>
  <strong>Helpful:</strong>
  <%= @communication_activity.helpful %>
</p>

<p>
  <strong>Unprepared:</strong>
  <%= @communication_activity.unprepared %>
</p>

<p>
  <strong>Bored:</strong>
  <%= @communication_activity.bored %>
</p>

<p>
  <strong>Content:</strong>
  <%= @communication_activity.content %>
</p>

<p>
  <strong>Unhappy:</strong>
  <%= @communication_activity.unhappy %>
</p>

<p>
  <strong>Careless:</strong>
  <%= @communication_activity.careless %>
</p>

<p>
  <strong>Passive:</strong>
  <%= @communication_activity.passive %>
</p>

<p>
  <strong>Caring:</strong>
  <%= @communication_activity.caring %>
</p>

<p>
  <strong>Imaginative:</strong>
  <%= @communication_activity.imaginative %>
</p>

<p>
  <strong>Eager:</strong>
  <%= @communication_activity.eager %>
</p>

<p>
  <strong>Activity3 1:</strong>
  <%= @communication_activity.activity3_1 %>
</p>

<p>
  <strong>Activity3 2:</strong>
  <%= @communication_activity.activity3_2 %>
</p>

<p>
  <strong>Activity3 3:</strong>
  <%= @communication_activity.activity3_3 %>
</p>

<p>
  <strong>Activity3 4:</strong>
  <%= @communication_activity.activity3_4 %>
</p>

<p>
  <strong>Activity3 5:</strong>
  <%= @communication_activity.activity3_5 %>
</p>

<p>
  <strong>Activity3 6:</strong>
  <%= @communication_activity.activity3_6 %>
</p>

<p>
  <strong>Activity4:</strong>
  <%= @communication_activity.activity4 %>
</p>

<%= link_to 'Edit', edit_communication_activity_path(@communication_activity) %> |
<%= link_to 'Back', communication_activities_path %>
