<h3>Module 4: Teaching and Learning</h3>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">In this module, you will:</h3>
  </div>
  <div class="panel-body">
  <ul>
  	<li>Identify characteristics of adult learners.</li>
  	<li>Identify learning styles and learning strategies.</li>
  	<li>Determine how learning style influences design of teaching activities.</li>
  	<li>Differentiate between domains of learning and stages of learning.</li>
  	<li>Identify factors of student learning.</li>
  	<li>As you go through this module, consider the scenarios that you read at the beginning of this course. </li>
  	
 </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Module 4 Sections</h3>
  </div>
  <div class="panel-body">
 <ul>
<li>Section 1: <%= link_to "Teaching and Learning", teaching_pages_learning_path%></li>
<li>Section 2: <%= link_to "Adult Learners", teaching_pages_adult_path%></li>
<li>Section 3: <%= link_to "Learning Domains", teaching_pages_domains_path%></li>
<li>Section 4: <%= link_to "Barriers to Learning", teaching_pages_barriers_path%></li>
<li>Section 5: <%= link_to "Goals and Objectives", teaching_pages_guiding_path%></li>
<li>Section 6: <%= link_to "Theories of Cognitive Learning", teaching_pages_theory_path%></li>
<li>Section 7: <%= link_to "Self-Regulated Learning", teaching_pages_self_path%></li>
 </ul>
  </div>
</div>









