
<table class="table">
	<tr>
		<td>
  			<strong>Product Title:</strong>
  		</td>
  		<td>
  			<%= @product_title %>
  		</td>
  	</tr>
  	
  	
  	<tr>
		<td>
  			<strong>Price:</strong>
  		</td>
  		<td>
  			$<%= @product_price %>.00
  		</td>
  	</tr>
  	
  	<tr>
		<td>
  			<strong>Description:</strong>
  		</td>
  		<td>
  			 <%= @product_description %>
  		</td>
  	</tr>

</table>

<%= render 'form' %>

<!--
<%= link_to 'Back', cart_items_path %>
-->