<p>
  <strong>Product Title:</strong>
  <%= @product_title %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @product_price %>.00
</p>

<p>
  <strong>Description:</strong>
  <%= @product_description %>
</p>

<%= render 'form' %>

<%= link_to 'Back', cart_items_path %>
