<h1><%= @product_title %> <small>(Product ID: <%= @product_id %>)<small></h1>

<p>
  <strong>Product Description:</strong>
  <%= @product_description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @product_price %>.00
</p>


<%= render 'form' %>

<%= link_to 'Back', cart_items_path %>
