<%= form_for(@student_evaluation_case2) do |f| %>
  <% if @student_evaluation_case2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_evaluation_case2.errors.count, "error") %> prohibited this student_evaluation_case2 from being saved:</h2>

      <ul>
      <% @student_evaluation_case2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">    
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%='hidden field --> user_id: '%>
    <%=current_user.id%>
</div>
  
<p><h3> 1. How should Fred rate the interpersonal, professionalism, responsibility and communication skills in the PT MACS?</h3></p> 
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_area :rate %>
  </div>
  
<p><h3> 2. Based on your ratings, what should Fred's plan of action be to assist Mark in attaining entry-level ratings on the above skills?</h3></p> 
  <div class="field">
    <%= f.label :plan %><br>
    <%= f.text_area :plan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
