<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @student_evaluation_case2.user_id %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @student_evaluation_case2.rate %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @student_evaluation_case2.plan %>
</p>

<%= link_to 'Edit', edit_student_evaluation_case2_path(@student_evaluation_case2) %> |
<%= link_to 'Back', student_evaluation_case2s_path %>
