
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Member Physical Therapy Programs</h3>
  </div>
  <div class="panel-body">
		<div class="list-group">
<%=link_to "Hardin-Simmons University", "http://www.hsutx.edu/academics/holland/graduate/physicaltherapy/", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "Texas State University", "http://www.txstate.edu", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "Texas Tech University Health Sciences Center", "https://www.ttuhsc.edu", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "Texas Woman's University", "http://www.twu.edu/physical-therapy/", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "The University of Texas Health Science Center at San Antonio", "http://www.uthscsa.edu/academics/health-professions/programs/doctor-physical-therapy?utm_source=uthscsaedushp&utm_medium=pageredirect&utm_campaign=shp", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "The University of Texas Medical Branch at Galveston", "http://shp.utmb.edu", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "The University of North Texas Health Science Center", "https://www.unthsc.edu/school-of-health-professions/physical-therapy/", { :class=>'list-group-item',  :style => 'color: #000000'}%>
<%=link_to "University of Texas at El Paso", "http://chs.utep.edu/pt/", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "University of Texas Southwestern Medical Center", "http://www.utsouthwestern.edu/education/school-of-health-professions/programs/doctorate-programs/index.html", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "University of the Incarnate Word", "http://www.uiw.edu/physicaltherapy/index.html", { :class=>"list-group-item",  :style => 'color: #000000'}%>
<%=link_to "University of St. Augustine-Texas", "http://www.usa.edu/Texas.aspx", { :class=>"list-group-item",  :style => 'color: #000000'}%>
		</div>  
	</div>
</div>

<a href="http://www.cnn.com">Hey there </a>