<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">To receive credit for this module complete Scenarios #1 and #2.</h3>
  </div>
  <div class="panel-body">
    <div class="panel panel-info">
  		<div class="panel-heading">
    		<h3 class="panel-title">Scenario #1</h3>
  		</div>
  		<div class="panel-body">
    		<ul>
    			<li>Your student will be providing exercise instruction to a patient who is S/P left medial meniscectomy.</li>
    			<li>The referral is for PT Evaluate and Treat.</li>
    			<li>View the following Video Clips:</li>
    			<ol>
    				<li><%=link_to "Clip 1 (opens new window)", "http://www.texasconsortium.org/videos/s1_c1.mpg"%></li>
    				<li><%=link_to "Clip 2 (opens new window)", "http://www.texasconsortium.org/videos/s1_c2.mpg"%></li>
    				<li><%=link_to "Clip 3 (opens new window)", "http://www.texasconsortium.org/videos/s1_c3.mpg"%></li>
    			</ol>
    		</ul>
  		</div>
	</div>
  </div>
</div>


<%= render 'form' %>

<!--<%= link_to 'Back', evaluation_credits_path %>-->
