<p id="notice"><%= notice %></p>

<h1>Quiz Attempts</h1>
(Listing Attempts)

<table class="table-striped">
  <thead>
  
    <tr>
      <th>User</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 
  
  </tr>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.user_id %></td>
        <td><%= attempt.answer1 %></td>
        <td><%= attempt.answer2 %></td>
        <td><%= attempt.answer3 %></td>
        <td><%= attempt.answer4 %></td>
        <td><%= attempt.answer5 %></td>
        <td><%= attempt.answer6 %></td>
        <td><%= attempt.answer7 %></td>
        <td><%= attempt.answer8 %></td>
        <td><%= attempt.answer9 %></td>
        <td><%= attempt.answer10 %></td>
        <td><%= attempt.answer11 %></td>
        <td><%= attempt.answer12 %></td>
        <td><%= attempt.answer13 %></td>
        <td><%= attempt.answer14 %></td>
        <td><%= attempt.answer15 %></td>
        <td><%= attempt.answer16 %></td>
        <td><%= attempt.answer17 %></td>
        <td><%= attempt.answer18 %></td>
        <td><%= attempt.answer19 %></td>
        <td><%= attempt.answer20 %></td>
        <td><%= link_to 'Show', attempt, class: 'btn btn-primary btn-xs'  %></td>
        <td><%= link_to 'Edit', edit_attempt_path(attempt), class: 'btn btn-info btn-xs'  %></td>
        <td><%= link_to 'Destroy', attempt, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to new_attempt_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Attempt
<% end %>
