<p id="notice"><%= notice %></p>



<h1>Quiz Attempts</h1>
(Listing Attempts)

<table>
  <thead>
  
    <tr>
      <th>User</th>
      <th>Answer1</th>
      <th>Answer2</th>
      <th>Answer3</th>
      <th>Answer4</th>
      <th>Answer5</th>
      <th>Answer6</th>
      <th>Answer7</th>
      <th>Answer8</th>
      <th>Answer9</th>
      <th>Answer10</th>
      <th>Answer11</th>
      <th>Answer12</th>
      <th>Answer13</th>
      <th>Answer14</th>
      <th>Answer15</th>
      <th>Answer16</th>
      <th>Answer17</th>
      <th>Answer18</th>
      <th>Answer19</th>
      <th>Answer20</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 
  
  </tr>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.user_id %></td>
        <td><%= attempt.answer1 %></td>
        <td><%= attempt.answer2 %></td>
        <td><%= attempt.answer3 %></td>
        <td><%= attempt.answer4 %></td>
        <td><%= attempt.answer5 %></td>
        <td><%= attempt.answer6 %></td>
        <td><%= attempt.answer7 %></td>
        <td><%= attempt.answer8 %></td>
        <td><%= attempt.answer9 %></td>
        <td><%= attempt.answer10 %></td>
        <td><%= attempt.answer11 %></td>
        <td><%= attempt.answer12 %></td>
        <td><%= attempt.answer13 %></td>
        <td><%= attempt.answer14 %></td>
        <td><%= attempt.answer15 %></td>
        <td><%= attempt.answer16 %></td>
        <td><%= attempt.answer17 %></td>
        <td><%= attempt.answer18 %></td>
        <td><%= attempt.answer19 %></td>
        <td><%= attempt.answer20 %></td>
        <td><%= link_to 'Show', attempt %></td>
        <td><%= link_to 'Edit', edit_attempt_path(attempt) %></td>
        <td><%= link_to 'Destroy', attempt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attempt', new_attempt_path %>
