<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attempt.user_id %>
</p>

<p>
  <strong>Answer1:</strong>
  <%= @attempt.answer1 %>
</p>

<p>
  <strong>Answer2:</strong>
  <%= @attempt.answer2 %>
</p>

<p>
  <strong>Answer3:</strong>
  <%= @attempt.answer3 %>
</p>

<p>
  <strong>Answer4:</strong>
  <%= @attempt.answer4 %>
</p>

<p>
  <strong>Answer5:</strong>
  <%= @attempt.answer5 %>
</p>

<p>
  <strong>Answer6:</strong>
  <%= @attempt.answer6 %>
</p>

<p>
  <strong>Answer7:</strong>
  <%= @attempt.answer7 %>
</p>

<p>
  <strong>Answer8:</strong>
  <%= @attempt.answer8 %>
</p>

<p>
  <strong>Answer9:</strong>
  <%= @attempt.answer9 %>
</p>

<p>
  <strong>Answer10:</strong>
  <%= @attempt.answer10 %>
</p>

<p>
  <strong>Answer11:</strong>
  <%= @attempt.answer11 %>
</p>

<p>
  <strong>Answer12:</strong>
  <%= @attempt.answer12 %>
</p>

<p>
  <strong>Answer13:</strong>
  <%= @attempt.answer13 %>
</p>

<p>
  <strong>Answer14:</strong>
  <%= @attempt.answer14 %>
</p>

<p>
  <strong>Answer15:</strong>
  <%= @attempt.answer15 %>
</p>

<p>
  <strong>Answer16:</strong>
  <%= @attempt.answer16 %>
</p>

<p>
  <strong>Answer17:</strong>
  <%= @attempt.answer17 %>
</p>

<p>
  <strong>Answer18:</strong>
  <%= @attempt.answer18 %>
</p>

<p>
  <strong>Answer19:</strong>
  <%= @attempt.answer19 %>
</p>

<p>
  <strong>Answer20:</strong>
  <%= @attempt.answer20 %>
</p>

<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
