<% @course_purchase = 0 %>
<% if !@prior_purchases.empty? %>
<% @prior_purchases.each do |x| %>
      <% if x.product_id == 2 %> 
      	<% @course_purchase = 1 %>    
      <% end %>
    <% end %>
<% end %>

<h1>Available Products:</h1>

<% @products.each do |product| %>
	<% if  (product.id == 2) &&   (@course_purchase == 1)  %>
	
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title"><%=product.title%></h3>
  			</div>
  			<div class="panel-body">
   				<ul class="list-group">
  					<li class="list-group-item"><%=product.description%></li>
  					<li class="list-group-item">$<%= product.price %>.00</li>
  					<li class="list-group-item"><%= link_to "Start Clinical Instructor Certification Course", course_home_path, {class: 'btn btn-info btn-lg'}%></li>
				</ul>
  			</div>
		</div>
	 
	<% else %>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title"><%=product.title%></h3>
  			</div>
  			<div class="panel-body">
   				<ul class="list-group">
  					<li class="list-group-item"><%=product.description%></li>
  					<li class="list-group-item">$<%= product.price %>.00</li>
  					<li class="list-group-item"><%= link_to 'Add to Cart', {controller:"cart_items", action:"new", product_id:product.id}, class: 'btn btn-info btn-lg' %></li>
				</ul>
  			</div>
		</div>
	<% end %>
    
<% end %>









