
<p id="notice"><%= notice %></p>

<h1>
  <strong>Title:</strong>
  <%= @product.title %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @product.price %>.00
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= link_to 'Add to Cart', new_cart_item_path(product_id:@product.id) %>
