<!DOCTYPE html>
<html>
<head>
  <title>Texas03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>
 body { padding-top: 60px; }
 </style> 
</head>
<body>

<div>
	<%= render 'shared/navbar0' %>
</div>

<div class="inner">
<% if (controller.action_name == "home") %>
	<div class="jumbotron"></div>
<% end %>
	
	
	<div><%=yield%></div>
  	<div class="footer"><p>&copy; Company 2016</p></div>    
</div>         
  </body>
</html>
