<!DOCTYPE html>
<html>
<head>
  <title>Texas03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 

<div class="inner">
 	<%=yield%>
 	<div class="container-narrow">
    	<div class="col-lg-4">
      	  <div class="box">     	
          	<h4><%= link_to "Student Evaluation Home", student_evaluation_home_path, {class:'glyphicon glyphicon-home', :style=>'color:#ff1e1e;'} %></h4>         
          </div>
		  <br>
          <div class="box">
          	<h4><%= link_to "Clinical Performance", student_evaluation_performance_path, {class:'glyphicon glyphicon-file', :style=>'color:#d3d3d3;'} %></h4>
          </div>
          <br>
          <div class="box">
          	<h4><%= link_to "Evaluation Tool", student_evaluation_tool_path, {class:'glyphicon glyphicon-file', :style=>'color:#d3d3d3;'} %></h4>
          </div>
		  <br>
		 
		</div>
    	<div class="col-lg-4">
    	 <div class="box">
          	<h4><%= link_to "Suggested Structure", student_evaluation_structure_path, {class:'glyphicon glyphicon-file', :style=>'color:#d3d3d3;'} %></h4>
          </div>
		  <br>
          <div class="box">
          <h4><%= link_to "PTMACS", student_evaluation_ptmacs_path, {class:'glyphicon glyphicon-file', :style=>'color:#d3d3d3;'} %></h4>
          </div>
		  <br>
          <div class="box">
          <h4><%= link_to "Planning Learning Experiences", student_evaluation_learning_path, {class:'glyphicon glyphicon-file', :style=>'color:#d3d3d3;'} %></h4>
          </div>
          <br>
          	  
    	</div>
    
    	<div class="col-lg-4">
    	<div class="box">
          <h4><%= link_to "Tool Use", student_evaluation_use_path, {class:'glyphicon glyphicon-file', :style=>'color:#d3d3d3;'} %></h4>
          </div>
		  <br>
		  <div class="box">
          <h4><%= link_to "Case Study 2", new_student_evaluation_case2_path, {class:'glyphicon glyphicon-file', :style=>'color:#d3d3d3;'} %></h4>
          </div>
		  <br>	
		  
    	  <div class="box">
          <h4><%= link_to "To Receive Credit", new_evaluation_credit_path, {class:'glyphicon glyphicon-file', :style=>'color:#d3d3d3;'} %></h4>
          </div>
		  <br>
		  
		
    	</div>
   
   		<div class="footer">
        	<p>&copy; Company 2013</p>
      	</div>

    </div> <!-- /container -->

   
  </body>



</html>

