<!DOCTYPE html>
<html>
<head>
  <title>Texas03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
</head>
<body>

<div>
	<%= render 'shared/navbar0' %>
</div>

<div class="inner">

<div id="bgndVideo" class="player" 
     data-property="{videoURL:'http://youtu.be/BsekcY04xvQ',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}">
</div>


	<!--<div class="jumbotron"><h2><font color="#2e8080">Texas Consortium for Physical Therapy Clinical Education, Inc.</font></h2></div>-->
	<div class="jumbotron"></div>


<div class="content">
	<h3>Texas Consortium for Physical Therapy Clinical Education, Inc.</h3>
	<ul class="nav nav-tabs">
  		<li role="presentation" class="<%=@activeHome%>"><%=link_to "Welcome", home_tabs_home_path, {:style => 'color: #000000'} %></li>
  		<li role="presentation" class="<%=@activeIncorporation%>"><%=link_to "Incorporation", home_tabs_incorporation_path, {:style => 'color: #000000'}%></li>
  		<li role="presentation" class="<%=@activePurpose%>"><%=link_to "Purpose",  home_tabs_purpose_path, {:style => 'color: #000000'}%></li>
  		<li role="presentation" class="<%=@activePrograms%>"><%=link_to "Member Programs",  home_tabs_programs_path, {:style => 'color: #000000'}%></li>
  		<li role="presentation" class="<%=@activeCalendar%>"><%=link_to "Calendar",  home_tabs_calendar_path, {:style => 'color: #000000'}%></li>
	</ul>
		
	<div><%=yield%></div>
  	<div class="footer">
  		<p>&copy; Company 2015</p>
  	</div>    
</div> 

</div> 




   
       
</body>
</html>
