<!DOCTYPE html>
<html>
<head>
  <title>Texas03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>	
.panel {
    border: 0;
}
</style>

<body>
 
<%= render 'shared/navbar_planning' %>
<div class="inner">
	<div class="content">
		<%= render 'shared/planning_pagination' %>
 		<%=yield%>
 	</div>
 	<div class="footer">
    	<p>&copy; Company 2013</p>
	</div>	
</div>
   
</body>
</html>

