<!DOCTYPE html>
<html>
<head>
  <title>Texas03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
 body { padding-top: 60px; }
</style> 
</head>

<!--body { padding-top: 70px; } -->
<body>

 
<!--<div class="masthead"> -->
<div> 
		<%= render 'shared/navbar0' %>
</div>

<div class="inner">
<!--<div class="jumbotron"></div>-->
<div>
 	<%=yield%>
</div> 

<div class="footer">
    <p>&copy; Company 2013</p>
</div> 

</div>          
  </body>
</html>

