<!DOCTYPE html>
<html>
<head>
  <title>Texas03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<%= render 'shared/navbar_student_evaluation' %>
	</div>
	
	<div class="inner">
		<div class="content">
			<%= render 'shared/student_evaluation_pagination' %>
 			<%=yield%>
 		</div>
 	
 		<div>
 			<!--<%= render 'shared/nav_footer'  %>-->
 		</div>
 	
 		<div class="footer">
    		<p>&copy; Company 2013</p>
		</div>		
	</div>	
</body>

</html>


