<!DOCTYPE html>
<html>
<head>
  <title>Texas03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>
 	body { 
 		padding-top: 60px; 
 	}
 
	div.content {
    /*border: 1px solid black;*/
    background-color: light blue;
    padding: 10px 20px 10px 20px;
	}
	
	div.page_navigation {
		text-align: center 
	}
	
	
.panel {
    border: 0;
}

</style>
</head>
<body>
 
<%= render 'shared/navbar_student_evaluation' %>
<div class="inner">
 	<%=yield%>
 	<div class="footer">
    	<p>&copy; Company 2013</p>
	</div>	
</div>

</body>
</html>

