<!DOCTYPE html>
<html>
<head>
  <title>Texas03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


	<body>
		<div>
 			<%= render 'shared/navbar_teaching' %>
 		</div>

		<div class="inner">
			<div class = "content">
			<%= render 'shared/teaching_pagination' %>
 				<%=yield%>
 			</div>
 		
 			<div class="footer">
        		<p>&copy; Company 2015</p>
    		</div>
 		</div>  
  	</body>
  	
</html>
